body {
  background-color: grey;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: black;
  width: 200px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50%;
  padding: 5px 0px;
  /*margin 50% för att flytta till mitten*/
}

.box {
  height: 175px;
  width: 175px;
  margin: 5px 0px;
}

.röd {
  background-color: red;
  opacity: 30%;
  border: 10px solid darkred;
}

.gul {
  background-color: yellow;
  opacity: 30%;
  border: 10px solid orange;
}
.bling2:hover {
  background-color: aquamarine;
}

.grön {
  background-color: green;
  opacity: 30%;
  border: 10px solid darkgreen;
}

.bling1 {
  width: 100%;
  height: 50%;
  position: relative;
  top: 50%;
}

.bling2 {
  background-color: rgb(255, 255, 163);
  width: 50%;
  height: 50%;
  position: relative;
  top: 50%;
  left: 50%;
}

.bling3 {
  background-color: rgb(106, 255, 106);
  width: 50%;
  height: 50%;
  position: relative;
  top: 50%;
}

.aniröd {
  animation-name: pulseröd;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.anigul {
  animation-name: pulsegul;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.anigrön {
  animation-name: pulsegrön;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulseröd {
  0% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 30%;
  }
}
@keyframes pulsegul {
  0% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 30%;
  }
}
@keyframes pulsegrön {
  0% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 30%;
  }
}
